.Cabecera {
background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

.aHead {
	background-color: rgba(0, 0, 0, 0.0);
	color: white;
}

.aHead:active {
	color: white;
}

.aHead:hover {
	color: white;
	-webkit-box-shadow: 0px 11px 17px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 11px 17px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 11px 17px 0px rgba(0, 0, 0, 0.75);
}

.topcorner {
	position: absolute;
	top: 0;
	right: 0;
}

body {
  background: #e6dada; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e6dada, #274046); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e6dada, #274046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}